body{background: white;}
.row{position: relative; width: 70%; top: 30px; left: 15%;  text-align: justify; letter-spacing: 1px;background:white}
.cell{position:relative; width: 90%;height:95%;margin: 0 auto 0px;padding: 0px;}

