body{background: rgb(228, 226, 226);}
#animate{position: relative;width: 500px;margin: 30 auto 10px;padding: 5px;text-align:center;bottom:5px;}
#animate2{position: relative;width: 800px;margin: 10 auto 10px;padding: 20px;text-align:center;}
.div-yt{position: relative;width: 800px;margin: 50 auto 26px;padding: 0px;text-align:center;}
.jumbotron{background: rgb(228, 226, 226);width: 800px;margin: 10 auto 10px;padding: 10px;text-align:center;}