<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</head>
<body ng-app="ciao">
		<div ng-controller="contr" ng-init="myCol='lightblue'">
			<p>Name: <input style= "background-color:{{myCol}}" type="text" ng-model="name"></p>
			<p>Surname: <input style="background-color: {{myCol}}" type="text" ng-model="surname"></p>
			
			<p ng-bind="name"></p>
			<p ng-bind="surname"></p>
			-------------------------------------
			<p>{{name}} {{surname}}</p>
	
		</div>
		
		<script type="text/javascript">
		angular.module("ciao", [])
			.controller("contr",
			function($scope){
				$scope.name="Pedro";
				$scope.surname="Tacunan";
			});
		</script>
		-------------------------
		
		<div ng-init="cognome='Lavdari'">
			<p>Il tuo cognome è <span ng-bind="cognome"></span></p>
		</div>
		------------------------
		<div ng-init="myCol='olive'">
			<p>Solo se scrivi olive il colore sarà olivastro <input style="background-color: {{myCol}}" ng-model="myCol"></p>
		</div>
		--------------------------
		<div ng-init="quantity=8; cost=1000">
			<p>totale in dollari: <span ng-bind="quantity * cost"></span>$</p>
		</div>
		--------------------------
		
		<div ng-init="oggetto={primo:'Xhilda', secondo:'Nina'}">
			<p>Il tuo primo nome è {{primo}}, mentre il tuo secondo nome è <span ng-bind="oggetto.secondo"></span></p>
		</div>
		---------------------------
		<div ng-init="cicloArray=[1,2,3,10,100,'mouse','tastiera']">
			<p>Partendo da zero il 4° numero e la sesta parola sono: {{cicloArray[4]}}, {{cicloArray[6]}}.</p>
		</div>
		-----------------------------
		<p>Ripeti i nomi nell'espressione x scrivendo poi "in" e il nome dell'array.</p>
		<div ng-init="array=['Calcio', 'Pallavolo', 'Tennis']">
			<ul>
				<li ng-repeat="x in array">
				{{x}}
				</li>
			</ul>
		</div>
</body>
</html>