<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Proviamo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</head>
<body ng-app="Pedro">
	<div ng-controller="contr" ng-init="myCol='lightblue'">
		<p>Username: <input style="background-color: {{myCol}}" ng-type="text" ng-model="username"></p>
		<p>Password: <input style="background-color: {{myCol}}" type="password" ng-model="psw"></p>
		{{username}} {{psw}}
	</div>
	<script type="text/javascript">
		angular.module("Pedro",[])
		.controller("contr",
			function($scope){
				$scope.username="";
				$scope.psw="";
		});
	
	</script>

</body>
</html>